*{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
.box{
	width: 800px;
	height: 360px;
	margin: 100px auto;
	position: relative;
	overflow: hidden;
}
.slider{
	width: 5600px;
	position: relative;
	left: -800px;
}
.slide{
	width: 800px;
	overflow: hidden;
	float: left;

}
.box>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	top: 175px;
	line-height: 50px;
	background: rgb(255,0,0);
	font-size: 30px;
	position: absolute;
	opacity: 0;
}
#L{
	left: 30px;
}
#R{
	right: 30px;
}
.nav{
	position: absolute;
	left: 300px;
	bottom: 30px;

}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
}
.nav .active{
	background: red;
}
a{ 
text-decoration:none; 
color:#333; 
}
a:hover{
	color:red;
}


.top{
	width:1180px;
	margin: 0 auto;
	padding-top: 5px;
	background-color: #fff;
	z-index: 90;
	overflow: hidden;
}
.top1{
	width: 1180px;
	height: 25px;
	float: right;
	

}
.top ul{
	float: right;

}
.top1 li{
	float: right;
	list-style-type: none;
	display: inline-block;
	margin-right: 8px;
}
/*字体范围：头部灰色及尾部灰色字体*/
/*.ftcolor{
	font-family: "微软雅黑"；
	font-size: 13px;
	color:#666560;
}*/
/*顶部字体*/
.ftcolor{
	font-family: "微软雅黑"；
	font-color:#9a9791;
	font-size: 10px;
	position: relative;top:-1px;
}

.top2{
	float: left;
	width: 1180px;
	height: 70px;
}
.input1{
	position: relative;
	left: 120px;
	top:-20px;
	width: 470px;
	height: 40px;
	border: #fe6c00 solid 3px;
}
.input1-1{
	padding-top: 12px;
	position: relative;
	left: 740px;
	top:-66px;
	width: 85px;
	height: 34px;
	background-color: #fe6c00;
	text-align: center;
	color:white;

}
.top2 li{
	float: right;
	position: relative;
	right: 0px;
	top:-110px;
	width: 100px;
	height: 44px;
	border: #d7d6d3 solid 1px;
	list-style-type: none;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	color: #c1ccdc;
}
.ft1{
	position: relative;
	top:10px;
	font-size: 16px;
	color: white;
}
.top3{
	position: relative;
	left: 265px;
	float: left;
	width: 1280px;
	

}
.top3 li{
	height: 20px;
	padding:5px 2px 4px 7px;
	border-left: #f5ecec solid 1px;
	display: inline-block;
	text-align: center;
	font-size: 10px;
	font-weight: bold;

}
.top3 li:first-child{
	border-left: none;
}
.lis{
	margin: 0 auto;
	width: 1180px;
	overflow: hidden;
	height: 43px;
}
.lis li{
	display: inline-block;
	padding:10px 20px 10px 20px;
	height: 23px;
	font-family: "微软雅黑";
	text-align: center;
	font-weight: bold;
}
.lis li:first-child{
	background-color:#ff4d04;
	width: 135px;
	margin-right:30px; 
}
.second{
	background-color: #f8f7f6;
	height: 890px;
	overflow: hidden;
	margin: 0 auto;
}
.sec{
	width: 1180px;
	height: 550px;
	margin: 0 auto;
	background-color: #fff;
	overflow: hidden;
	
}

.sec0{
	float: left;
	width: 26px;
	height: 420px;
	background-color: #4c4c4a;
	color: #ad4c4a;
	font-size: 16px;
	text-align: center;
	overflow: hidden;
	margin-right: 4px;

}
.sec1{
	float: left;
	width: 170px;
	overflow: hidden;
	padding-top: 10px;
}
.sec1 tr{

	float: left;
}

.sec1 tr td{

	float: left;
	width: 30px;
	height: 32px;
	font-size: 12px;
	margin-right: 4px;
	text-align: center;

}
.sec2{
	width: 160px;
	height:123px;
	border-top: 1px solid #fe6c00;
	

}
.sec2 li{
	float: left;
	width: 160px;
	height: 27px;
	padding-top: 14px;
	position: relative;
	list-style:none;
	padding-left: 15px;
	font-size: 13px;
	}
.sec2 a{
	position: relative;
	top: -6px;
	left: 4px;
	color: #a08267;

}
.center{
	position: relative;
	left: 175px;
	top: -553px;
	width: 800px;
	height: 370px;
	/*border: 2px solid #fe6c00;
	border-left: none;*/
	background-color: red;
}
.center-bottom{
	position: relative;
	left: 175px;
	top: -130px;
	width: 800px;
	height: 190px;
	border-top:1px solid #fe6c00;

}
.center-bottom li{
	float: right;
	width: 200px;
	height: 190px;
	list-style: none;
}
.center-bottom li a{
	position: relative;
	top: -17px;
}
.center-bottom li:last-child{
	position: relative;
	top:-41px;

}
.secright{
	width: 200px;
	height: 600px;
	position: relative;
	left: 975px;
	top:-744px;
	border-left: 1px solid #fe6c00;
	font-size: 12px;
	font-weight: bold;
}
.s1{
	padding-left: 25px;
	padding-top: 15px;
	float: left;
	width: 185px;
	height: 30px;
	border-bottom: 1px solid #f8f7d6;
	color: #ff9466;
	font-size: 16px;
	

}
.s2{
	float: left;
	width: 205px;
	height: 320px;
	overflow: hidden;
	border-bottom: 1px solid #f8f7d6;
}
/*.ss{
	float: left;
	width: 205px;
	height: 364px;
}*/
.s2 li{
	width: 187px;
	height: 18px;
	padding-top:10px;
	padding-left: 18px;
	list-style: none;
}
.s2 li a{
	color: #ff6b3b;
}
.s3{
	
	width: 189px;
	height: 170px;
	padding-left: 18px;

}
.s3-0{
	width: 125px;
	height: 23px;
	border: 2px solid #e4e2ed;
	margin-top: 7px;
}
.s3 select{
	width: 100px;
	height: 25px;
	border: 2px solid #e4e2ed;
	margin-top: 7px;
	font-weight: bold;
}
.s3-1{
	margin-top: 7px;
	width: 180px;
	height: 30px;
	background-color: #ff4d00;
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border:none;
	border-radius: 4px;
}
.last1{
	margin:0 auto;
	width: 1180px;
	height: 180px;
	border-bottom:1px solid #f4f3db; 
/*	background-color: black;*/
}
.last-1-left{
	position: relative;
	left: 0px;
	width: 175px;
	height: 150px;
}
.last-1-right{
	float: right;
	position: relative;
	top:-128px;
	width: 175px;
	height: 150px;
}
.last-1-center{
	float: left;
	position: relative;
	left: 175px;
	top: -128px;
	width: 730px;
	height: 150px;
}
.last-1-center ul{
	float: left;
	padding-left: 66px;
}
.last-1-center ul li{
	padding-bottom: 12px;
	font-size: 12px;
	list-style: none;
}
.last-1-center ul li:first-child{
	font-size: 16px;
	font-weight: bold;
}

.last02{
	position: relative;
	top:-105px;
	margin: 0 auto;
	width: 100%;
	height: 140px;
	display: inline-block;
	text-align: center;

	overflow: hidden;
	}

.last02  li{

	display: inline-block;
	padding:0 13px 0 13px;
	font-size: 12px;
	border-left:1px solid #cfcec9; 
}
.last02 li:first-child{
	border: none;
}
.last02 p{
	font-size: 12px;
	color: #a0ac9c;
	padding-top: 5px;

}
/*xiaobang123* 45 youhui60*140 app123*50  cart123*140*/
.posi{
	position: fixed;
	width: 120px;
	height: 510px;
	/*right: -78px;*/
	/*top: 105px;
*/
}
.fl1{
	position: fixed;
	top: 105px;
	border-top-left-radius:35px;
	right: -80px;
	width: 120px;
	height: 75px;
	background-color: #ff926c;
}
.fl2{
	position: fixed;
	top:185px;
	right: -80px;
	width: 120px;
	height: 140px;
	background-color: #ff926c;
}
.fl3{
	text-align: center;
	position: fixed;
	top: 330px;
	right: -80px;
	width: 120px;
	height: 140px;
	background-color: #ff926c;
}

.fl4{
	position: fixed;
	top: 475px;
	right: -80px;
	width: 120px;
	height: 140px;
}
.fl3 img{
	float: left;
}


/*详情页*/
/*导航栏*/
.xnav{
	width: 100%;
	height: 40px;
	background-color: #000000;
}
.xnavf{
	margin: 0 auto;
	width: 1180px;
	height: 40px;
	overflow: hidden;
}
.xnavf li{
	float: left;
	height: 40px;
	width: 118px;
	text-align: center;
	line-height: 40px;
}
.navf{
	font-size: 14px;
	font-weight: bold;
	color:#ffffff;
}
.xnavf a{
	list-style: none;
}
.xnavf li:hover{
	background-color: #fe0d4a;
}
.navf li:last-child{
	float: right;
}
.xcen{
	width: 100%;
	height: 780px;
	background-color: #f6f5f4;
}
.xcen1{
	margin: 0 auto;
	width: 1180px;
	padding-top:7px;
	padding-bottom: 10px;
	height: 20px; 
	overflow: hidden;
}
.xcen1ft{
	font-size: 14px;

}
.xcen2{
	width: 1180px;
	height: 630px;
	background-color: #fff;
	margin: 0 auto;
}

.xleft{
	float: left;
	width: 955px;
	height: 590px;
	padding: 20px 20px 20px 20px;
}
.xright{
	float: left;
	width: 185px;
}
.img{
	float: left;
	width: 410px;
	height: 630px;
}
.ximg{
	width: 410px;
	height: 410px;
	border: 3px solid #f6f5f4;
	margin-bottom: 30px;
}
.xnavs{
	width: 410px;
	height: 62px;
}
.xnavs ul{
	display: inline-block;
}
.xnavs li{
	float: left;
	width: 60px;
	height: 60px
}
.information{
	float: left;
	width: 520px;
	height: 610px;
	padding-left: 20px;

}
.infont{
	line-height: 20px;
	font-size: 12px;
	color: #abaaa6;
	padding-bottom: 30px;
}
.mon{
	font-size: 12px;
	padding-left: 20px;
	line-height: 35px;
}

.xright{
	float: left;
	width: 180px;
	height: 610px;
	border-left: 5px solid #f6f5f4;
	background-color: blue;
}
.d{float: left;
	width: 500px;
	height:60px;
	overflow: hidden;
}
.d li{
	list-style: none;
	display: inline-block;
	width: 90px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
/*input{
	display: inline-block;
}
.radio{
	appearance:none;
	width:0px;
	height: 0px;
	text-align: center;
}
.radio:checked{
	border: 2px solid #ff0754；
	background:url(img/duigou.png) no-repeat;
}
.radio span{
	display: inline-block;
	width: 90px;
	height: 30px;
	text-align: center;
	background:url(img/duigou.png) no-repeat;

}*/
.mmm li{
	display: inline-block;
	height: 30px;
	border:1px solid #f6f5f4;
	text-align: center;
	
}
.mmm li:first-child{
	border: none;
}
.ccc{
	width: 30px;
}
.llll{
	width: 400px;
	text-align: center;

}
.ddd{
	margin-top:15px; 
	float: left;
	width: 150px;
	height: 30px;
	padding-top: 10px;
	text-align: center;
	border: 2px solid #ff0754;
	border-radius: 6px;
	color: #ff0754;

}
.xcen3{
	width: 1180px;
	height: 104px;
	margin: 0 auto;
	overflow: hidden;
}

